<html>
  
  <h2>Check mileage of you Car Instantly</h2>

    <h3>Please enter details:</h3>
    <br>
    
    <form method="post" enctype="multipart/form-data" action="predictMPG">
    
 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Cylinders:</label> </div> <input name="cylinderVal" type="text" value=8><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">Displacement:</label> </div> <input type="text" id="lname" name="dispVal" value=307><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">horsepower:</label> </div> <input type="text" id="fname" name="hrsPwrVal" value=1><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">weight:</label> </div> <input type="text" id="lname" name="weightVal" value=1><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">acceleration:</label></div>  <input type="text" id="fname" name="accVal" value=1><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">model:</label> </div> <input type="text" id="lname" name="modelVal" value=1><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">origin:</label> </div> <input type="text" id="lname" name="originVal" value=1><br><br>
 <br>
 <input type="submit" value="Submit" ></div>

 {%  if scoreval  %}
 <h1>The mpg score is {{scoreval}}</h1>
 {% endif %}

</html>